from settings import *

DEBUG = False
TEMPLATE_DEBUG = DEBUG

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ badges_db_name }}',
        'USER': '{{ badges_db_user }}',
        'PASSWORD': '{{ badges_db_password }}',
        'HOST': '127.0.0.1',
        'PORT': '',
    }
}

ALLOWED_HOSTS = ['{{ host }}',]

OAUTH_GRANT_URL = '{{ OAUTH_GRANT_URL }}'
OAUTH_TOKEN_URL = '{{ OAUTH_TOKEN_URL }}'
OAUTH_CLIENT_ID = '{{ OAUTH_CLIENT_ID }}'
OAUTH_CLIENT_KEY = '{{ OAUTH_CLIENT_KEY }}'
OAUTH_CLIENT_SECRET = '{{ OAUTH_CLIENT_SECRET }}'
OAUTH_ID_URL = '{{ OAUTH_ID_URL }}'

LERNANTA_API_KEY = '{{ lernanta_api_key }}'
NOTIFICATION_URL = '{{ notification_url }}'
DEFAULT_FROM_ADDRESS = 'Badges'

SECRET_KEY = '{{ badges_secret_key }}'
