from settings import *

# conf for django debug toolbar
INSTALLED_APPS += ( 
'debug_toolbar',
'testdata',
)
MIDDLEWARE_CLASSES += ( 'debug_toolbar.middleware.DebugToolbarMiddleware',)
INTERNAL_IPS = ('127.0.0.1', )

OAUTH_GRANT_URL = '{{ OAUTH_GRANT_URL }}'
OAUTH_TOKEN_URL = '{{ OAUTH_TOKEN_URL }}'
OAUTH_CLIENT_ID = ''
OAUTH_CLIENT_KEY = ''
OAUTH_CLIENT_SECRET = ''
OAUTH_ID_URL = '{{ OAUTH_ID_URL }}'

SECRET_KEY = '{{ badges_secret_key }}'
