*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Vagrant
.vagrant

# Local credentials
vars/*
host_vars/*
badges/vars/credentials_badges-vm.yml
credentials_*.yml

# Vim temp files
*.swp
