location /static/ {    
    autoindex on;    
    root   /var/www/extra/{{LEARNINGCIRCLES.DOMAIN}};
}


location /media/ {    
    autoindex on;    
    root   /var/www/extra/{{LEARNINGCIRCLES.DOMAIN}};
}
