export PGUSER={{pg_db_user}}
export PGPASSWORD={{pg_db_password}}
export DB_NAME={{pg_db_name}}
export AWS_ACCESS_KEY_ID={{aws_access_key_id}}
export AWS_SECRET_ACCESS_KEY={{aws_secret_access_key}}
export S3_BUCKET={{aws_backup_bucket}}
export S3_PREFIX={{aws_backup_prefix}}
