location /static/ {    
    autoindex on;
    gzip on;
    gzip_min_length 1000;
    root   /var/www/extra/{{LEARNINGCIRCLES.DOMAIN}};
}


location /media/ {    
    autoindex on;    
    root   /var/www/extra/{{LEARNINGCIRCLES.DOMAIN}};
}
